In [1]:
# setup dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [/Users/nicolevandriss/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache

In [3]:
# NASA Mars News
url = "https://redplanetscience.com/"
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, "html.parser")

In [5]:
soup.find("div", class_="content_title")

In [6]:
news_title = soup.find("div", class_="content_title").get_text()
print(news_title)

Naming a NASA Mars Rover Can Change Your Life

In [7]:
news_p = soup.find('div', class_="article_teaser_body").get_text()
print(news_p)

Want to name the robotic scientist NASA is sending to Mars in 2020? The student who named Curiosity — the rover currently exploring Mars — will tell you this is an opportunity worth taking.

In [9]:
# JPL Mars Space Images - Featured Image
url = "https://spaceimages-mars.com/""
browser.visit(url)

In [12]:
full_img = browser.find_by_tag("button")
full_img.click()

In [19]:
html = browser.html
img_soup = bs(html,"html.parser")

In [22]:
img_url = img_soup.find(class_="headerimage fade-in").get('src')
img_url

'image/featured/mars2.jpg'

In [24]:
featured_image_url = f"https://spaceimages-mars.com/{img_url}"
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [31]:
# Mars Facts
mars_df = pd.read_html("https://galaxyfacts-mars.com/")[0]
mars_df.columns = ['Description', 'Mars Value','Earth Value']
mars_df.set_index('Description',inplace=True)
mars_df

                              Mars Value      Earth Value
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [32]:
mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars Value</th>\n      <th>Earth Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [36]:
# Mars Hemispheres
hemi_url = "https://marshemispheres.com/"
browser.visit(hemi_url)

In [37]:
hemi_html = browser.html
hemi_soup = bs(hemi_html, 'html.parser')
items = hemi_soup.find_all('div', class_='item')

hemisphere_image_urls = []

for i in items: 
    title = i.find('h3').text
    partial_img_url = i.find('a', class_='itemLink product-item')['href']
    browser.visit(hemi_url + partial_img_url)
    partial_img_html = browser.html
    hemi_soup = bs(partial_img_html, 'html.parser')
    img_url = hemi_url + hemi_soup.find('img', class_='wide-image')['src']
    
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]